$brown: #312217;
$gray: #A9B2B1;
$black: #0D0809;
$black-brown: #312217;
$white: #ffffff;
$orange: #D56B4F;
$main: #FAF6EB;
// ui colors
$light-cyan: #D5DFDE;
$menu: #312217;
$side-menu: #A9B2B1;
$side-menu-hover: #312217;